<section class="blog">
    <div class="container mx-auto mt-14">
        <h2 class="blog__title h2 text-center mb-[50px]">¿Necesitas ayuda?</h2>
        <div class="max-w-5xl mx-auto">
            <div class="faq__item px-[30px] pt-7 pb-4 border-b cursor-pointer select-none" *ngFor="let faq of faqs">
                <div class="flex justify-between items-center mb-[10px]" (click)="toggleAnswer($event)">
                    <h4 class="h4">{{ faq.pregunta }}</h4>
                    <img src="../../../assets/iconoFaq/iconoFaq.svg" class="w-[2%]" alt="">
                </div>
                <div class="faq__answer overflow-hidden hidden">
                    <p class="font-light">{{ faq.respuesta }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
