<div class="custom-toolbar">
    <h1 mat-dialog-title class="texto">Confirmar Contraseña</h1>
</div>


<div mat-dialog-content class="mat-typography">
    <div class="">
        <label for="password" class="text-accent-default">Contraseña:</label>
        <input type="password" id="password" [(ngModel)]="password" required>
        <div *ngIf="showError" class="text-red-600">Contraseña incorrecta</div>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()" class="text-accent-default">Cancelar</button>
    <button mat-button (click)="onConfirm()" cdkFocusInitial>Confirmar</button>
</div>