/* add-edd-medico.component.css */


.contForm{
    padding: 1rem;
}
.medico-form {
    width: 400px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .custom-toolbar {
    background-color: #1cbccf;
    color: white;
    padding: 8px 16px;
  }
  
  .toolbar-content {
    display: flex;
    align-items: center;
  }
  
  .spacer {
    flex-grow: 1;
  }
  .texto{
    color: white;
  }
  

  mat-dialog-title{
    color: white;
  }
  